# ==========================================
# 1. PASTAS DE COMPILAÇÃO E MAVEN
# ==========================================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# ==========================================
# 2. DADOS SENSÍVEIS
# ==========================================
src/main/resources/application*.properties
src/main/resources/application*.yml

# ==========================================
# 3. ARQUIVOS DA IDE (VS Code, IntelliJ, etc)
# ==========================================
.vscode/
.classpath
.project
.settings/
.idea/
*.iws
*.iml
*.ipr
.factorypath

# ==========================================
# 4. LIXO DO SISTEMA OPERACIONAL
# ==========================================
.DS_Store
Thumbs.db